* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  width: 800px;
  height: 700px;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
}

header {
  margin: 0 auto;
  border-radius: 15px;
  width: calc(100% - 20px);
  height: 50px;
  background-color: green;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h1 {
  color: white;
}

header > div {
  translate: 5px 0px;
  border: 10px solid black;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  flex: 1;
  display: flex;
  flex-direction: row;
}

section > div {
  flex: 1;
  height: 100%;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

section > div > div {
  margin: 10px;
  border-radius: 15px;
  padding: 20px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

section > div > div:hover {
  filter: brightness(1.5) blur(1px);
}

section > div > div > span {
  color: white;
}

p {
  color: white;
}

section > div:nth-of-type(1) > div {
  height: 120px;
  background-color: red;
}
section > div:nth-of-type(2) > div {
  height: 240px;
  background-color: orange;
}
section > div:nth-of-type(3) > div {
  height: 360px;
  background-color: yellow;
}
section > div:nth-of-type(4) > div {
  height: 480px;
  background-color: green;
}
section > div:nth-of-type(5) > div {
  height: 600px;
  background-color: blue;
}

hr {
  border: none;
  height: 10px;
  background-color: white;
}

section > div:nth-of-type(1) > hr {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
section > div:nth-of-type(5) > hr {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

section > div > span {
  text-align: center;
  color: white;
}